/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

header {
    background-color:slategrey;
    color: rgb(166, 50, 205);
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: black;
    text-decoration-line:underline;
    
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

#resume, #bio {
    margin: 30px;
    
    
}

h1, h2, h3,h4 {
    color:skyblue;
    text-decoration-line:underline;
    
}

.resume-item ul {
    list-style-type: none;
    padding: 0;
}

.resume-item li {
    margin-bottom: 10px;
}

footer {
    
        text-align: center;
        margin-top: 40px;
        font-size: 2em;
        color: #777;
    }
    
